[submodule "Hangman"]
	path = Hangman
	url = https://www.github.com/xmerr/Hangman
[submodule "content/components/games/Hangman"]
	path = content/components/games/Hangman
	url = https://www.github.com/xmerr/Hangman
[submodule "content/components/games/GuessThatNumber"]
	path = content/components/games/GuessThatNumber
	url = https://www.github.com/xmerr/GuessThatNumber
[submodule "content/components/games/Breakout"]
	path = content/components/games/Breakout
	url = https://www.github.com/xmerr/Breakout
[submodule "content/components/games/TicTacToe"]
	path = content/components/games/TicTacToe
	url = https://www.github.com/Xmerr/TicTacToe
