@import '../variables.scss';

@mixin shared() {
    padding: 0.5em;
    border-radius: 50%;
    margin: 0.5em;
    
    background: radial-gradient(circle at 100px 100px, #000000, $accentColor);
    
    cursor: pointer;
}

.MenuStage {
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 500;
    
    .Menu {
        position: relative;
        
        .MenuItem {
            position: absolute;
            top: 0.5em;
            left: 0.5em;
            @include shared();
            
            transition-property: transform;
            -webkit-transition-property: transform;
            
            transition-duration: 0.25s;
            -webkit-transition-duration: 0.25s;
            
            &.main {
                z-index: 500;
                top: 0;
                left: 0;
                
                svg {
                    width: 3em !important;
                    height: 3em !important;
                }
            }
            
            &.external {
                background: radial-gradient(circle at 100px 100px, #000000, #d2522f);
            }
            
            svg {
                width: 2em !important;
                height: 2em !important;
            }
            
            .__react_component_tooltip {
                z-index: 100;
            }
        }
    }
}
