@font-face {
    font-family: guessThatNumber;
    src: url('./GuessThatNumber/font.ttf');
}

@font-face {
    font-family: breakout;
    src: url('./Breakout/font.ttf');
}

.GameMenu {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    .controls {
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        top: 50%;
        vertical-align: middle;
        transform: translateY(-50%);
        
        & > * {
            flex: 1 1 1px;    
        }
        
        .leftArrow {
            background-color: pink;
            cursor: pointer;
        }
        
        .rightArrow {
            background-color: blue;
            cursor: pointer;
        }
        
        .title {
            h3 {
                font-size: 5em;
                font-weight: normal;
                
                &.gtn {
                    font-family: guessThatNumber;
                }
                
                &.bo {
                    font-family: breakout;    
                }
            }
        }
    }
}