@font-face {
    font-family: guessThatNumber;
    src: url('./GuessThatNumber/font.ttf');
}

@font-face {
    font-family: hangman;
    src: url('./Hangman/font.ttf');
}

@font-face {
    font-family: tictactoe;
    src: url('./TicTacToe/font.ttf');
}

@font-face {
    font-family: breakout;
    src: url('./Breakout/font.ttf');
}

.Game {
    .backButton {
        position: absolute;
        top: 15vh;
        left: 10vw;
    }
}

.GameMenu {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    .controls {
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        top: 50%;
        vertical-align: middle;
        transform: translateY(-50%);
        align-items: center;
        justify-content: space-around;
        
        .arrow {
            cursor: pointer;
            
            svg {
                height: 20vh !important;
                width: 30vw !important;
                color: white !important;
            }
        }
        
        .title {
            h3 {
                font-size: 5em;
                font-weight: normal;
                
                &.gtn {
                    font-family: guessThatNumber;
                }
                
                &.hm {
                    font-family: hangman;
                }
                
                &.ttt {
                    font-family: tictactoe;
                }
                
                &.bo {
                    font-family: breakout;    
                }
            }
        }
    }
}