@font-face {
    font-family: guessThatNumber;
    src: url('./GuessThatNumber/font.ttf');
}

@font-face {
    font-family: hangman;
    src: url('./Hangman/font.ttf');
}

@font-face {
    font-family: tictactoe;
    src: url('./TicTacToe/font.otf');
}

@font-face {
    font-family: breakout;
    src: url('./Breakout/font.ttf');
}

@font-face {
    font-family: pong;
    src: url('./Pong/font.ttf');
}

.Game {
    .backButton {
        position: absolute;
        top: 15vh;
        left: 10vw;
    }
}

.GameMenu {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    .controls {
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        top: 50%;
        vertical-align: middle;
        transform: translateY(-50%);
        align-items: center;
        justify-content: space-around;
        
        .arrow {
            cursor: pointer;
            
            svg {
                height: 20vh !important;
                width: 30vw !important;
                color: white !important;
            }
        }
        
        .title {
            h3 {
                font-size: 5em;
                font-weight: normal;
                
                &.gtn {
                    font-family: guessThatNumber;
                }
                
                &.hm {
                    font-family: hangman;
                }
                
                &.ttt {
                    font-family: tictactoe;
                }
                
                &.bo {
                    font-family: breakout;    
                }
                
                &.p {
                    font-family: pong;
                }
            }
        }
    }
}

.StartTimer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    z-index: 5000;
    
    background-color: rgba(155, 155, 155, 0.35);
    
    display: flex;
    justify-content: space-around;
    align-items: center; 
    
    .timer {
        border-radius: 50%;
        background-color: gray;
        box-shadow: 3px 3px 17px #343434;
        
        width: 8vw;
        height: 8vw;
        line-height: calc(8vw - 20px);
        
        text-align: center;
        font-size: 3rem;
        color: white;
        
        border: 10px groove white;
        border-bottom-style: ridge;
        border-right-style: ridge;
    }
}