@media all and (max-width: 599px) {
    html {
        font-size: 6px;
    }
}
@media all and (min-width: 600px) and (max-width:799px){
    html {
        font-size: 8px;
    }
}
@media all and (min-width: 800px) and (max-width:1024px){
    html {
        font-size: 10px;
    }
}
@media all and (min-width: 1025px) and (max-width: 1399px){
    html{
        font-size: 13px;
    }
}
@media all and (min-width: 1400px){
    html{
        font-size: 18px;
    }
}

@font-face {
    font-family: Suess;
    src: url('../fonts/Gabbaland.ttf');
}

body {
    margin: 0;
    padding: 0;
    
    overflow-x: hidden;
    
    * {
        box-sizing: border-box; 
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    }
    
    h1, h3, h5 {
        margin: 0;
        padding: 0;
    }
    
    h3 {
        margin-bottom: 0.5em;
    }
    
    h5 {
        margin-top: 0.75em;
    }
    
    .Page{
        & > span > div {
            width: 100%;
            min-height: 100%;
        }
    }
    
    .Loading {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        z-index: 900000;
        background-color: rgba(0,0,0,0.25);
    }
    
    /********************
    Page Animation
    ********************/
    .pageChange {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .pageChange-enter {
        @extend .pageChange;
        opacity: 0;
        
        &.pageChange-enter-active {
            opacity: 1;
            transition: opacity 500ms ease-in;
        }
    }
    
    .pageChange-leave {
        @extend .pageChange;
        opacity: 1;
        
        &.pageChange-leave-active{
            opacity: 0;
            transition: opacity 500ms ease-in;
        }
    }
    /********************
    Page Animation End
    ********************/
}