@media all and (max-width: 599px) {
}
@media all and (min-width: 600px) and (max-width:799px){
}
@media all and (min-width: 800px) and (max-width:1024px){
    
}
@media all and (min-width: 700px) and (max-width: 1024px){
    
}
@media all and (min-width: 1025px) and (max-width: 1399px){
    html{
        font-size: 16px;
    }
}
@media all and (min-width: 1400px){
    html{
        font-size: 18px;
    }
}

@font-face {
    font-family: Suess;
    src: url('../fonts/Gabbaland.ttf');
}

body {
    margin: 0;
    padding: 0;
    
    * {
        font-size: 15px;
    }
}

.MainArea {
    & > div {
        width: 100%;
        height: 100vh;
            
        &.splash {
            position: relative;
            
            background-image: url('../images/splash.webp');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            
            .quote {
                text-shadow: -6px 7px 7px #073d3e;
    
                position: absolute;
                bottom: 50%;
                left: 50%;
                
                width: 30%;
                
                font-size: 2.5rem;
                text-align: right;
                font-family: Suess;
            }
        }
        
        &.resume {
            font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
        }
    }
}