@import '../variables.scss';

.Header {
    height: $headerHeight;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;

    background-color: transparent;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;

    & > * {
        flex: 1 1 1px;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    & > div.Avatar {
        flex-grow: 3;
        display: flex;
        justify-content: space-around;
    }
}