@import '../variables.scss';

@mixin hasTitle($top: null) {
    position: relative;
    
    .title {
        position: absolute;
        @if($top) {
            top: -0.65em;
        } @else {
            bottom: -0.65em;
        }
        
        left: 0;
        right: 0;
        text-align: center;
       
        & > div {
            background-color: $aboutMeBackground;
            padding: 0 0.5em;
            display: inline-block;
        }
    }
}

@mixin niceBorder() {
    border-radius: 0.5em;
    border: 3px double black;
    padding: 0.5em 1em;
    margin: 0.5em 0;
}

.AboutMe {
    padding: 5vh 10vw;
    background-color: #cdd1d8;
    
    .Paper {
        display: flex;
        padding: 5vh 1vw;
        height: auto;
        min-height: 100%;
        background-color: $aboutMeBackground;
        
        & > div {
            flex: 1 1 1px;
            display: flex;
            flex-direction: column;
            
            margin: 0 1em;
            
            & > * {
                flex: 1 1 auto;
            }
            
            .attributes {
                display: flex;
                flex-grow: 100;
                
                & > div {
                    flex: 1 1 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    
                    .StatWrap{
                        margin-bottom: 0.5em;
                        flex: 1 1 auto;
                        
                        .Stat {
                            @include niceBorder();
                            @include hasTitle(1);
                            
                            display: inline-block;
                            
                            &:last-child{
                                margin-bottom: 0em;
                            }
                            
                            .value {
                                min-height: 2.5em;
                                text-align: center;
                                padding: 0.5em 0;
                            }
                        }
                    }
                    
                    &.skills {
                        flex: 2 1 auto;
                        @include niceBorder();
                        
                        & > div {
                            display: flex;
                            
                            & > div {
                                flex: 1 1 1px;
                                
                                &.name {
                                    flex-grow: 2;
                                    margin-left: 0.5em;
                                }
                                &.value {
                                    text-align: center;
                                    border-bottom: 1px solid black;
                                }
                            }
                        }
                    }
                }
            }
            
            &.middleColumn {
                & > div:not(.avatar) {
                    @include hasTitle();
                    @include niceBorder();
                }
                
                .avatar {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    flex-grow: 100;
                }
            }
            
            
            &.details {
                .story {
                    @include niceBorder();
                    @include hasTitle();
                }
            }
        }
    }
}